
@charset "utf-8";

/*========= ローディングのためのCSS ===============*/

/* ローディング背景画面設定 */
#splash {
    /* 画面全体に固定 */
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: rgba(0, 0, 0);
	text-align: center;
	color: #fff; /* テキスト色 */
}

/* ローディング画像を中央配置 */
#splash_logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* ローディングアイコンの大きさ設定 */
#splash_logo img {
	width: 400px;
}


/*========= レイアウトのためのCSS ===============*/

/* レイアウト用のCSS */
.wrapper{
  overflow: hidden; /* 要素の内容がはみ出した場合に表示領域からはみ出した部分を表示しない */
}


.box{
  width: 220px;
  padding: 20px;
  margin: 0 20px 20px 0; /* 上右下左のマージン */
  background: #666; /* 背景色 */
  color: #fff; /* テキスト色 */
  box-sizing: border-box; /* ボックスモデルの設定 */
}


/*==================================================
ふわっ
===================================*/

/* ふわっアニメーション */

.fadeUp{
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0; /* 初期状態で不透明度を0に設定 */
}
  

@keyframes fadeUpAnime{
  from {
    opacity: 0; /* 不透明度を0に設定 */
    transform: translateY(100px); /* Y軸方向に100px移動 */
  }

  to {
    opacity: 1; /* 不透明度を1に設定 */
    transform: translateY(0); /* Y軸方向に0に移動 */
  }
}


/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
 
.fadeUpTrigger{
  opacity: 0; /* 初期状態で不透明度を0に設定 */
}

#splash.fade-out {
  display: none !important;
}

#splash,
#splash_logo {
  transition: opacity 0.8s ease;
}
